schema/stuk algemeen/8.1.0/alg-formaattypen-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.kadaster.nl/schemas/KIK/Formaattypen" elementFormDefault="qualified" version="2.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:alg="http://www.kadaster.nl/schemas/KIK/Formaattypen">
	<xs:annotation>
		<xs:documentation>
WIJZIGINGEN VERSIE 2.0.0:
KvkNummer toegevoegd
Huisletter toegevoegd

AkteOpzeggingsbevoegdheid verwijderd
KeuzeAkteOpzeggingsbevoegdheid verwijderd
AantalOnderhandseAkten verwijderd
AkteOpzeggingsbevoegdheidGroup verwijderd
KostenStuk verwijderd

WIJZIGINGEN VERSIE 1.8.1:
alg-0N9 [0-9]* toegevoegd

WIJZIGINGEN VERSIE 1.8.0:
alg-Nx verbeterd, gewijzigd in string pattern [1-9][0-9]*
alg-N2 en alg-N12 [0-9][0-9]*

WIJZIGINGEN VERSIE 1.7.0:
alg-N12 toegevoegd
alg-N10 verbeterd

WIJZIGINGEN VERSIE 1.6:
alg-AN70 toegevoegd

WIJZIGINGEN VERSIE 1.5:
alg-AN50N toegevoegd

WIJZIGINGEN versie 1.4:
alg-AN8 toegevoegd

WIJZIGINGEN versie 1.3:
alg-AN100 toegevoegd

WIJZIGINGEN versie 1.2:
alg-AN4V toegevoegd
alg-AN120 toegevoegd

WIJZIGINGEN versie 1.1: 
Waardenlijst toegevoegd
alg-D8 toegevoegd
Postcode toegevoegd
alg-D20 toegevoegd
alg-AN2 toegevoegd
alg-AN2V toegevoegd.

WIJZIGINGEN versie 0.5:
alg-D9 toegevoegd

WIJZIGINGEN versie 0.6 - 19-03-2008:
Pattern voor verplichte letter of cijfer op eerste positie bij verplichte velden is uitgebreid met ‘ . 

WIJZIGINGEN versie 1.0 - 17-04-2008:
(versie 1.0 ivm publicatie hypotheek-xsd)
- alg-AN2V toegevoegd
- alg-AN30V toegevoegd


WIJZIGINGEN versie 1.2 - 23-10-2008:
(versie 1.2 i.v.m. generieke XSD TIA-stuk)
- alg-AN250V toegevoegd
- alg-AN6V toegevoegd
- alg-D2 toegevoegd
- alg-D4 toegevoegd
- alg-D6 toegevoegd
- alg-D7 toegevoegd
- alg-N4 toegevoegd</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="alg-N3">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-D20">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N4">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N7">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-D8">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN50V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN250">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN250V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN40V">
		<xs:annotation>
			<xs:documentation>Alfanumeriek element met verplichte inhoud.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN14">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN255">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-ANV">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d)+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN20V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-D4">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N8">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N9">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN5V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN8">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="alg-N5">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN55">
		<xs:restriction base="xs:string">
			<xs:maxLength value="55"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-D9">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN30V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN39">
		<xs:restriction base="xs:string">
			<xs:maxLength value="39"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN50N">
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="alg-AN24V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN80">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN10V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN65">
		<xs:restriction base="xs:string">
			<xs:maxLength value="65"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN120">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="alg-D6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Postcode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]{1}[0-9]{3}[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-D2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN70">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="alg-AN3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N10">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN24">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN4V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-0N12">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-0N9">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KvkNummer">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Huisletter">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN6V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN80V">
		<xs:annotation>
			<xs:documentation>Alfanumeriek element met verplichte inhoud.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N16">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN14V">
		<xs:annotation>
			<xs:documentation>Element met verplichte inhoud</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d)+.*"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Waardenlijst">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N5-2">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN200V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN2V">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\p{L}|\d|')+.*"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-D7">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-AN1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-N12">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]*"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alg-0N2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
