schema/ParticuliereHypotheekakte/2.0/ParticuliereHypotheekakte-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.kadaster.nl/schemas/KIK/ParticuliereHypotheekakte/v20140515" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:part="http://www.kadaster.nl/schemas/KIK/ParticuliereHypotheekakte/v20140515" xmlns:pft="http://www.kadaster.nl/schemas/KIK/particulierehypotheekakte/formaattypen/v20110609">
<xs:import namespace="http://www.kadaster.nl/schemas/KIK/particulierehypotheekakte/formaattypen/v20110609" schemaLocation="pft-formaattypen-1.1.xsd"></xs:import>
<xs:element name="datum" type="part:datum"></xs:element>
<xs:complexType name="datum">
<xs:sequence></xs:sequence>
</xs:complexType>
<xs:element name="OnderhandseAkte" type="part:OnderhandseAkte"></xs:element>
<xs:complexType name="OnderhandseAkte">
<xs:annotation>
<xs:documentation>Een verklaring of overeenkomst die zonder de aanwezigheid van een notaris is opgesteld.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datum" type="xs:date" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>De datum van de onderhandse akte.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Financieringsvoorstel" type="part:Financieringsvoorstel"></xs:element>
<xs:complexType name="Financieringsvoorstel">
<xs:annotation>
<xs:documentation>Het voorstel tot financiering.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datum" type="xs:date" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>De datum van het financieringsvoorstel.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="FinancieringsvoorstelAcceptatie" type="part:FinancieringsvoorstelAcceptatie"></xs:element>
<xs:complexType name="FinancieringsvoorstelAcceptatie">
<xs:annotation>
<xs:documentation>Het geaccepteerde financieringsvoorstel.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datum" type="xs:date" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>De datum van acceptatie van het financieringsvoorstel.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="BedragType" type="part:BedragType"></xs:element>
<xs:complexType name="BedragType">
<xs:annotation>
<xs:documentation>Standaard type voor bedragen.</xs:documentation>
</xs:annotation>
<xs:sequence minOccurs="0">
<xs:element name="som" type="pft:alg-D20" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het bedrag.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="valuta" type="pft:Waardenlijst" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Aanduiding van de valutasoort. Hiervoor wordt de codelijst ISO 4217 gebruikt. 
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="IMKAD_Persoon" type="part:IMKAD_Persoon"></xs:element>
<xs:complexType name="IMKAD_Persoon">
<xs:annotation>
<xs:documentation>Een persoon is een Natuurlijk persoon of een Niet Natuurlijk persoon. 

Natuurlijk persoon is een individueel menselijk wezen (NEN 1888). Een niet natuurlijk persoon is een bedrijf of rechtspersoon. Imkad maakt bij niet natuurlijke personen onderscheid in personen die in Nederland zijn ingeschreven of in het buitenland.

Imkad maakt onderscheid tussen natuurlijke personen die bij het GBA bekende ingezetenen zijn, natuurlijke personen die buitenlander zijn, en natuurlijke personen die in geen van deze categorieen vallen, maar wel bij het Kadaster bekend zijn. 

Eén persoon kan verschillende rollen hebben. Een persoon kan bijvoorbeeld eigenaar zijn van een onroerende zaak, een hypotheekhouder van een Hypotheek, als partner betrokken bij de verkrijging van een recht, etc. </xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="tia_Gegevens" type="part:PersoonKeuze" minOccurs="1" maxOccurs="2">
<xs:annotation>
<xs:documentation>De gegevens die over een persoon worden opgenomen hangen af van de soort persoon. PersoonKeuze is een keuze tussen de soorten personen Imkad_Ingezetene, Imkad_NietIngezetene of NHR_Rechtspersoon.

In dit model is NHR_Rechtspersoon niet van toepassing en daarom niet opgenomen.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_TekstKeuze" type="part:TekstKeuze" minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Tekst die door een aanbieder gekozen is voor een variabele tekst.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element ref="part:IMKAD_WoonlocatiePersoon" minOccurs="1" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="PersoonKeuze" type="part:PersoonKeuze"></xs:element>
<xs:complexType name="PersoonKeuze">
<xs:annotation>
<xs:documentation>PersoonKeuze is een keuze tussen de soorten personen (GBA_Ingezetene, IMKAD_NietIngezetene en NHR_Rechtspersoon) die in de interface voor de akte gehanteerd mogen worden.</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element ref="part:GBA_Ingezetene" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element ref="part:IMKAD_NietIngezetene" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element ref="part:IMKAD_KadNatuurlijkPersoon" minOccurs="1" maxOccurs="1"></xs:element>
</xs:choice>
</xs:complexType>
<xs:element name="GBA_Naam" type="part:GBA_Naam"></xs:element>
<xs:complexType name="GBA_Naam">
<xs:annotation>
<xs:documentation>Gegevens over de naam van de persoon.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="voornamen" type="pft:alg-AN200" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>De voornamen van de persoon.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="IMKAD_NietIngezetene" type="part:IMKAD_NietIngezetene"></xs:element>
<xs:complexType name="IMKAD_NietIngezetene">
<xs:annotation>
<xs:documentation>Een natuurlijk persoon die geen ingezetene in Nederland is. 

Binnen het programma stroomlijning basisgegevens wordt onderzocht of het mogelijk is een basisregistratie voor niet ingezetenen (RNI) toe te voegen aan het stelsel. Het is momenteel nog niet duidelijk of en wanneer deze registratie beschikbaar komt.

In afwachting van de mogelijke komst van het RNI wordt binnen Imkad de klasse NietIngezetene in een eigen namespace gezet. In de toekomst kan deze vervangen worden door de RNI namespace. </xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="geslachtsnaam" type="pft:alg-AN200" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De achternaam, exclusief voorvoegsels.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RNIIdentificatie" type="xs:integer" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Identificatiecode van de persoon.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="voorvoegsels" type="pft:alg-AN10" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Voorvoegsels bij de achternaam.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="voornamen" type="pft:alg-AN200" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De voornamen van de persoon.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="geslacht" type="part:AanduidingGeslacht" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het geslacht van de persoon (Man of Vrouw).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="geboortedatum" type="xs:date" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De geboortedatum.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="geboorteplaats" type="pft:alg-AN80" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De naam van de plaats waar de persoon geboren is.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_Titel" type="pft:alg-AN40" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Benaming waarmee de maatschappelijke positie of waardigheid wordt aangeduid van een niet ingezetene. Omdat dit een buitenlandse titel kan zijn is hier geen waardelijst gebruikt.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_Titel2" type="pft:alg-AN40" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Benaming waarmee de maatschappelijke positie of waardigheid wordt aangeduid van een niet ingezetene. Omdat dit een buitenlandse titel kan zijn is hier geen waardelijst gebruikt.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_AdellijkeTitel" type="pft:alg-AN40" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De titel van de persoon waar hij op grond van zijn (adellijke) afkomst recht op heeft. Omdat dit een buitenlandse titel kan zijn is hier geen waardelijst gebruikt.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_AdellijkeTitel2" type="pft:alg-AN40" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De titel van de persoon waar hij op grond van zijn (adellijke) afkomst recht op heeft. Omdat dit een buitenlandse titel kan zijn is hier geen waardelijst gebruikt.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="BankHypotheek" type="part:BankHypotheek"></xs:element>
<xs:complexType name="BankHypotheek">
<xs:annotation>
<xs:documentation>Hypotheek van het soort bankhypotheek.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="omschrijving" type="xs:string" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Omschrijving van de soort vordering die bij de bankhypotheek vermeld moet worden. Voor mogelijke waarden zie de toelichting op het modeldocument.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="VasteHypotheekGeenSchip" type="part:VasteHypotheekGeenSchip"></xs:element>
<xs:complexType name="VasteHypotheekGeenSchip">
<xs:annotation>
<xs:documentation>Hypotheek van het soort vaste hypotheek niet zijnde teboekgesteld schip.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="vasteHypotheek" type="part:VasteHypotheekType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>De onderhandse akte(n) waarin de geaccepteerde financieringsvoorstellen zijn opgenomen.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element ref="part:Geldleningen" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:Kredieten" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:Borgtochten" minOccurs="0" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Geldleningen" type="part:Geldleningen"></xs:element>
<xs:complexType name="Geldleningen">
<xs:annotation>
<xs:documentation>De geldlening(en) die verstrekt zijn of worden.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="tekstKeuze" type="part:TekstKeuze" minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Tekst die door een aanbieder gekozen is voor een variabele tekst.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bedrag" type="part:BedragType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Het bedrag van de geldlening.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Kredieten" type="part:Kredieten"></xs:element>
<xs:complexType name="Kredieten">
<xs:annotation>
<xs:documentation>De kredieten die verleend zijn of worden.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="tekstKeuze" type="part:TekstKeuze" minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Tekst die door een aanbieder gekozen is voor een variabele tekst.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bedrag" type="part:BedragType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Het bedrag van het krediet.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Borgtochten" type="part:Borgtochten"></xs:element>
<xs:complexType name="Borgtochten">
<xs:annotation>
<xs:documentation>Borgtocht is de overeenkomst waarbij de ene partij, de borg, zich tegenover de andere partij, de schuldeiser, verbindt tot nakoming van een verbintenis, die een derde, de hoofdschuldenaar, tegenover de schuldeiser heeft of zal krijgen.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="tekstKeuze" type="part:TekstKeuze" minOccurs="0" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Tekst die door een aanbieder gekozen is voor een variabele tekst.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element ref="part:IMKAD_Persoon" minOccurs="1" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="VasteHypotheekType" type="part:VasteHypotheekType"></xs:element>
<xs:complexType name="VasteHypotheekType">
<xs:annotation>
<xs:documentation>Zie VasteHypotheek(geen)Schip.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element ref="part:OnderhandseAkte" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:Financieringsvoorstel" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:FinancieringsvoorstelAcceptatie" minOccurs="0" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="AanvullendeKosten" type="part:AanvullendeKosten"></xs:element>
<xs:complexType name="AanvullendeKosten">
<xs:annotation>
<xs:documentation>De aanvullende kosten die samen met het hypotheekbedrag het totaal bedrag vormen.</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element ref="part:RegistergoedGeenSchip" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element ref="part:HypotheekMedeOpSchip" minOccurs="1" maxOccurs="1"></xs:element>
</xs:choice>
</xs:complexType>
<xs:element name="GBA_Geboorte" type="part:GBA_Geboorte"></xs:element>
<xs:complexType name="GBA_Geboorte">
<xs:annotation>
<xs:documentation>Gegevens over de geboorte van de persoon</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="geboortedatum" type="xs:date" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>De geboortedatum.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="geboorteplaatsOmschrijving" type="pft:alg-AN80" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De plaatsnaam van de plaats waar de persoon geboren is.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="GBA_Geslacht" type="part:GBA_Geslacht"></xs:element>
<xs:complexType name="GBA_Geslacht">
<xs:annotation>
<xs:documentation>De aanduiding van het geslacht van de persoon.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="geslachtsaanduiding" type="part:AanduidingGeslacht" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het geslacht van de persoon (Man of Vrouw).</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AanduidingGeslacht">
<xs:annotation>
<xs:documentation>Het geslacht van een natuurlijk persoon.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="Man" />
<xs:enumeration value="Vrouw" />
<xs:enumeration value="Onbekend"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="IMKAD_AdreskeuzeWI" type="part:IMKAD_AdreskeuzeWI"></xs:element>
<xs:complexType name="IMKAD_AdreskeuzeWI">
<xs:annotation>
<xs:documentation>Een PersoonsLocatie (waar een persoon woont/gevestigd is of post ontvangt) kan een binnenlandse locatie, een buitenlandse locatie of een postadres zijn. 

Postadres is niet relevant en daarom niet gemodelleerd.</xs:documentation>
</xs:annotation>
<xs:choice>
<xs:element name="binnenlandsAdres" type="part:BAG_BinnenlandsAdres" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>In de kadastrale registratie bestaat een woonlocatie in Nederland uit een woonplaatsnaam, een straatnaam, postcode, huisnummer en eventueel een huisnummertoevoeging. Om alvast aan te sluiten bij de komst van BAG wordt zoveel mogelijk het informatiemodel van BAG gevolgd, waar veel meer gegevens in opgenomen zijn. </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="buitenlandsAdres" type="part:IMKAD_BuitenlandsAdres" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Een woonlocatie in het buitenland bestaat uit een aantal adresregels, te weten: Plaatsnaam en postcode, Regio, Straatnaam en huisnummer, en Landnaam. </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="kadBinnenlandsAdres" type="part:IMKAD_KadBinnenlandsAdres" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Indien het adres afwijkt van het BAG_BinnenlandsAdres</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:complexType>
<xs:element name="IMKAD_WoonlocatiePersoon" type="part:IMKAD_WoonlocatiePersoon"></xs:element>
<xs:complexType name="IMKAD_WoonlocatiePersoon">
<xs:annotation>
<xs:documentation>Locatie waar een natuurlijk persoon woonachtig is of waar een niet natuurlijk persoon is gevestigd.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="adres" type="part:IMKAD_AdreskeuzeWI" minOccurs="1" maxOccurs="2">
<xs:annotation>
<xs:documentation>De woonlocatie kan een binnenlandse of een buitenlandse locatie zijn. </xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="GBA_Ingezetene" type="part:GBA_Ingezetene"></xs:element>
<xs:complexType name="GBA_Ingezetene">
<xs:annotation>
<xs:documentation>Een ingezetene is een natuurlijk persoon die is geregistreerd bij GBA en die een BSN heeft. </xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="BSN" type="pft:alg-N9" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het BSN (Burger Service Nummer) is een uniek nummer dat gelijk is aan het sofi-nummer. Ieder  natuurlijk persoon die een relatie heeft met de Nederlandse overheid krijgt een BSN.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="naam" type="part:GBA_Naam" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Geslachtsnaam van de ingezetene.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="geboorte" type="part:GBA_Geboorte" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Gegevens over de geboorte van de persoon.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="geslacht" type="part:GBA_Geslacht" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het geslacht van de persoon.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_AdellijkeTitel" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De titel van de persoon waar hij op grond van zijn (adellijke) afkomst recht op heeft.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_AdellijkeTitel2" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De titel van de persoon waar hij op grond van zijn (adellijke) afkomst recht op heeft.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_Titel" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Benaming waarmee de maatschappelijke positie of waardigheid wordt aangeduid van een ingezetene. </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_Titel2" type="pft:alg-AN40" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Benaming waarmee de maatschappelijke positie of waardigheid wordt aangeduid van een ingezetene. </xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_VoorvoegselsNaam" type="pft:alg-AN10" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Voorvoegsels van de ingezetene.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tia_NaamZonderVoorvoegsels" type="pft:alg-AN200" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Naam van de ingezetene exclusief voorvoegsels.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="IMKAD_BuitenlandsAdres" type="part:IMKAD_BuitenlandsAdres"></xs:element>
<xs:complexType name="IMKAD_BuitenlandsAdres">
<xs:annotation>
<xs:documentation>Een woonlocatie in het buitenland bestaat uit een aantal adresregels, te weten: Plaatsnaam en postcode, Regio, Straatnaam en huisnummer, en Landnaam.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="adres" type="pft:alg-AN50" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Bevat straatnaam en huisnummer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="woonplaats" type="pft:alg-AN80" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Bevat postcode en woonplaats.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="regio" type="pft:alg-AN39" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Gebied binnen een land.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="land" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De mogelijke waarden zijn vastgelegd in een catalogus.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="BAG_BinnenlandsAdres" type="part:BAG_BinnenlandsAdres"></xs:element>
<xs:complexType name="BAG_BinnenlandsAdres">
<xs:annotation>
<xs:documentation>In de kadastrale registratie bestaat een woonlocatie in Nederland uit een woonplaatsnaam, een straatnaam, postcode, huisnummer en eventueel een huisnummertoevoeging. Om alvast aan te sluiten bij de komst van BAG wordt zoveel mogelijk het informatiemodel van BAG gevolgd, waar veel meer gegevens in opgenomen zijn. </xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element ref="part:BAG_NummerAanduiding" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:BAG_OpenbareRuimte" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:BAG_Woonplaats" minOccurs="0" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="BAG_NummerAanduiding" type="part:BAG_NummerAanduiding"></xs:element>
<xs:complexType name="BAG_NummerAanduiding">
<xs:annotation>
<xs:documentation>Een NUMMERAANDUIDING is een door de gemeenteraad als
zodanig toegekende aanduiding van een adresseerbaar object.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="huisnummer" type="pft:alg-N5" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende nummering.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="huisletter" type="pft:alg-AN1" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende toevoeging
aan een huisnummer in de vorm van een alfanumeriek
teken.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="huisnummertoevoeging" type="pft:alg-AN4" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende nadere
toevoeging aan een huisnummer of een combinatie van
huisnummer en huisletter.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="postcode" type="pft:Postcode" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>De door TNT Post vastgestelde code behorende bij een
bepaalde combinatie van een straatnaam en een
huisnummer.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="BAG_OpenbareRuimte" type="part:BAG_OpenbareRuimte"></xs:element>
<xs:complexType name="BAG_OpenbareRuimte">
<xs:annotation>
<xs:documentation>Een OPENBARE RUIMTE is een door de gemeenteraad als
zodanig aangewezen benaming van een binnen 1 woonplaats
gelegen buitenruimte.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="openbareRuimteNaam" type="pft:alg-AN80" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Een naam die aan een OPENBARE RUIMTE is toegekend in een daartoe strekkend formeel gemeentelijk besluit.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="BAG_Woonplaats" type="part:BAG_Woonplaats"></xs:element>
<xs:complexType name="BAG_Woonplaats">
<xs:annotation>
<xs:documentation>Een WOONPLAATS is een door de gemeenteraad als
zodanig aangewezen gedeelte van het gemeentelijk
grondgebied.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="woonplaatsNaam" type="pft:Waardenlijst" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>De woonplaatsen worden vastgesteld door de gemeenten.
De vastgestelde woonplaatsen worden door een
beheerder van een landelijke woonplaatsentabel voorzien
van een unieke aanduiding, te vergelijken met de
gemeentecode volgens GBA tabel 33.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="GeldleningenInclRente" type="part:GeldleningenInclRente"></xs:element>
<xs:complexType name="GeldleningenInclRente">
<xs:annotation>
<xs:documentation>De geldleningen die verstrekt zijn of worden met de bedongen rente percentages.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element ref="part:Geldleningen" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element name="rente" type="part:RenteType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het rentepercentage van de geldlening.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="RenteType" type="part:RenteType"></xs:element>
<xs:complexType name="RenteType">
<xs:annotation>
<xs:documentation>Standaard type voor renten.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element ref="part:Rentepercentage" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element ref="part:VervalDatum" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element ref="part:EersteVervalDatum" minOccurs="1" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="Rentepercentage" type="part:Rentepercentage"></xs:element>
<xs:complexType name="Rentepercentage">
<xs:annotation>
<xs:documentation>Bedongen rente percentage.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="percentage" type="xs:decimal" minOccurs="1" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="VervalDatum" type="part:VervalDatum"></xs:element>
<xs:complexType name="VervalDatum">
<xs:annotation>
<xs:documentation>Vervaldatum van de bedongen rente.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datum" type="xs:date" minOccurs="1" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="EersteVervalDatum" type="part:EersteVervalDatum"></xs:element>
<xs:complexType name="EersteVervalDatum">
<xs:annotation>
<xs:documentation>Eerste vervaldatum van den bedongen rente.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="datum" type="xs:date" minOccurs="1" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="KredietenInclRente" type="part:KredietenInclRente"></xs:element>
<xs:complexType name="KredietenInclRente">
<xs:annotation>
<xs:documentation>De kredieten die verleend zijn of worden met de bedongen rente percentages.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element ref="part:Kredieten" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element name="rente" type="part:RenteType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het rentepercentage van het krediet.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="IMKAD_KadBinnenlandsAdres" type="part:IMKAD_KadBinnenlandsAdres"></xs:element>
<xs:complexType name="IMKAD_KadBinnenlandsAdres">
<xs:annotation>
<xs:documentation>Indien het adres afwijkt van de BAG gegevens</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="huisLetter" type="pft:alg-AN1" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="huisNummer" type="pft:alg-AN5" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="huisNummerToevoeging" type="pft:alg-AN4" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="openbareRuimteNaam" type="pft:alg-AN80V" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element name="woonplaatsNaam" type="pft:Waardenlijst" minOccurs="1" maxOccurs="1"></xs:element>
<xs:element name="postcode" type="pft:Postcode" minOccurs="0" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="IMKAD_KadNatuurlijkPersoon" type="part:IMKAD_KadNatuurlijkPersoon"></xs:element>
<xs:complexType name="IMKAD_KadNatuurlijkPersoon">
<xs:annotation>
<xs:documentation>Indien de persoongegevens afwijken van de GBA gegevens</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="adellijkeTitelOfPredikaat" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="geslachtsnaam" type="pft:alg-AN200" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="voornamen" type="pft:alg-AN200" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="voorvoegselsgeslachtsnaam" type="pft:alg-AN10" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="tia_TekstKeuze" type="part:TekstKeuze" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="tia_Titel" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="tia_Titel2" type="pft:alg-AN10" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element name="tia_AdellijkeTitel2" type="pft:Waardenlijst" minOccurs="0" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="VasteHypotheekSchip" type="part:VasteHypotheekSchip"></xs:element>
<xs:complexType name="VasteHypotheekSchip">
<xs:annotation>
<xs:documentation>Hypotheek van het soort vaste hypotheek teboekgesteld binnenschip.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="vasteHypotheek" type="part:VasteHypotheekType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>De onderhandse akte(n) waarin de geaccepteerde financieringsvoorstellen zijn opgenomen.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element ref="part:GeldleningenInclRente" minOccurs="0" maxOccurs="1"></xs:element>
<xs:element ref="part:KredietenInclRente" minOccurs="0" maxOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="RegistergoedGeenSchip" type="part:RegistergoedGeenSchip"></xs:element>
<xs:complexType name="RegistergoedGeenSchip">
<xs:annotation>
<xs:documentation>De aanvullende kosten ten behoeve van een registergoed niet zijnde een schip.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="bedragRente" type="part:BedragType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Bedrag aan renten, vergoedingen, boeten en kosten, die samen worden begroot op een bepaald percentage van de hoofdsom.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bedragTotaal" type="part:BedragType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Totaal bedrag van hoofdsom plus het bedrag begroot voor de renten, vergoedingen, boeten en kosten.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="percentage" type="pft:alg-N5-2" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het percentage van de hoofdsom waarmee de aanvullende kosten (renten. vergoedingen, boeten en kosten) berekend worden. </xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="HypotheekMedeOpSchip" type="part:HypotheekMedeOpSchip"></xs:element>
<xs:complexType name="HypotheekMedeOpSchip">
<xs:annotation>
<xs:documentation>De aanvullende kosten ten behoeve van een hypotheek (mede) op een schip.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="bedragRente" type="part:BedragType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Bedrag aan renten, vergoedingen, boeten en kosten, die samen worden begroot op een bepaald percentage van de hoofdsom.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="bedragTotaal" type="part:BedragType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Totaal bedrag van hoofdsom plus het bedrag begroot voor de renten, vergoedingen, boeten en kosten.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="percentage" type="pft:alg-N5-2" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Het percentage van de hoofdsom waarmee de aanvullende kosten (renten. vergoedingen, boeten en kosten) berekend worden. </xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="TekstKeuze" type="part:TekstKeuze"></xs:element>
<xs:complexType name="TekstKeuze">
<xs:annotation>
<xs:documentation>In een stylesheet komen variabele teksten voor. Tekstkeuze is de tekst die door een aanbieder gekozen wordt bij het opstellen van een document.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="tagNaam" type="pft:alg-AN50V" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Aanduiding van de tekst waarvoor een keuze gemaakt kan worden.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tekst" type="xs:string" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>De tekst die gekozen is.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
